<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- Root Context: defines shared resources visible to all other web components -->

     <bean id="DB" class="com.blogspot.iserf.DB" scope="prototype">
          <constructor-arg  index="0" name="host"  value="localhost" />
          <constructor-arg  index="1" name="user"  value="root" />
          <constructor-arg  index="2" name="password"  value="password" />
          <constructor-arg  index="3" name="nameDb"  value="java_bank" />
     </bean>
		
</beans>
